* {
    margin: 0;
    font-family:'Bricolage Grotesque', sans-serif;
  
}


@import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@10..48,200;10..48,700&family=Inter:wght@400;700&family=Oxanium:wght@300;400;700&display=swap');


:root {
    --cor-1:#202020;
    --cor-2:#4d4d4b;
    --cor-3:#CE6A27;
    --cor-4:#030200;
    --cor-5:#1B208C;
    --cor-6:#ECDBC1;
    --white:#fff;
    --black:#000;
}

header{
    width: 100vw;
    height: 200px;
    display: flex;

}
.background_header{
    background-image: url('../img/img-background.jpg'); 
    background-size: cover; 
    background-position: center center;  
    display: flex; 
    align-items: center; 
    justify-content: center;
}

body{
    background-color: var(--cor-4);
   
}

.title{
    text-align: center;
    font-weight: 700;
    padding: 25px;
}
code{
    
    border-radius: 5px;
    font-size: 14px;
    font-weight: 700;
    padding: 1.3px;
    box-sizing: border-box;
    color: var(--cor-3);
    font-family: 'Courier New', monospace;
    background-color: var(--cor-1);
}
.code{
  background-color: var(--cor-1);
  color: var(--white);
  width: 60%;
  padding: 20px;
  margin: 0 auto;
  
}
.especial{
  color: var(--cor-3);
}

.container{
    width: 85vw;
    display: flex;
    flex-direction: column;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid var(--white);
    border-radius: 12px;
    box-shadow: 0.1px 0.2px 12px #fff;
    background-color: var(--cor-6);
   
}
h2 {
  font-size: 1.1em;
}
p {
  margin: 25px 0;
}
.alternating-list {
    list-style: none;
    padding: 0;
  }
  
  .faq-item {
    cursor: pointer;
    margin-bottom: 10px;
  }
  .faq-item:hover{
    text-decoration: underline;
    color: var(--cor-5);
  }
  
  .answer {
    display: none;
    padding: 20px;
  }
  .answer.show {
    display: block;
  }
  .answer ul {
    margin: 0; 
    padding: 0; 
  }
  
  .answer li {
    margin: 25px 0; 
  }

  .answer  h3 {
    margin: 25px 0;
    font-size: 1.5em;
    font-weight:700;
    text-align: center;
    
 }
 .exemplos {
  text-indent: 20px;
  font-size: 0.8em;
 }
 
 